<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>

    <style>
        
        .container {
            
        }

        .column {
            flex: 1;
            padding: 20px;
            border: 1px solid #ccc;
            margin: 10px;
        }
    </style>
</head>
<body>
       <div id="search-container">
        <input type="text" id="search-input" placeholder="Buscar...">
    </div>
    
    <div class="container" id="output"></div>

    <script id="template" type="text/x-handlebars-template">
        <div class="column">
            <h5>Libro 1</h5>
            <p>Autor:.....</p>
            <p>Categoria:.....</p>
            <p>ISBN:.....</p>
            <p>Existencias:.....</p>
            <p>Descripcion:.....</p>
            <a href="/project/edit/{{_id}}">
            <i class="material-icons" 
              style = "display: inline-flex; vertical-align: sub;">edit</i>
            <span >Editar</span>
            </a>
            <a href="javascript: deleteProject('{{_id}}')" class="inline">
            <i class="material-icons" 
	            style = "display: inline-flex; vertical-align: sub;">
	            delete</i>
            Borrar
          </a>
            </div>
        </div>

        <div class="column">
            <h5>Libro 2</h5>
            <p>Autor:.....</p>
            <p>Categoria:.....</p>
            <p>ISBN:.....</p>
            <p>Existencias:.....</p>
            <p>Descripcion:.....</p>
           <div class="card-action">
            <a href="/project/edit/{{_id}}">
            <i class="material-icons" 
              style = "display: inline-flex; vertical-align: sub;">edit</i>
            <span >Editar</span>
            </a>
            <a href="javascript: deleteProject('{{_id}}')" class="inline">
            <i class="material-icons" 
	            style = "display: inline-flex; vertical-align: sub;">
	            delete</i>
            Borrar
          </a>
            </div>
        </div>
        <div class="column">
            <h5>Libro 3</h5>
            <p>Autor:.....</p>
            <p>Categoria:.....</p>
            <p>ISBN:.....</p>
            <p>Existencias:.....</p>
            <p>Descripcion:.....</p>
          
            <a href="/project/edit/{{_id}}">
            <i class="material-icons" 
              style = "display: inline-flex; vertical-align: sub;">edit</i>
            <span >Editar</span>
          </a>
          <a href="javascript: deleteProject('{{_id}}')" class="inline">
            <i class="material-icons" 
	            style = "display: inline-flex; vertical-align: sub;">
	            delete</i>
            Borrar 
          </a>
        </div>
          <div class="column">
            <h5>Libro 4</h5>
            <p>Autor:.....</p>
            <p>Categoria:.....</p>
            <p>ISBN:.....</p>
            <p>Existencias:.....</p>
            <p>Descripcion:.....</p>
            <a href="/project/edit/{{_id}}">
            <i class="material-icons" 
              style = "display: inline-flex; vertical-align: sub;">edit</i>
            <span >Editar</span>
            </a>
            <a href="javascript: deleteProject('{{_id}}')" class="inline">
            <i class="material-icons" 
	            style = "display: inline-flex; vertical-align: sub;">
	            delete</i>
            Borrar
          </a>
        </div>
          <div class="column">
            <h5>Libro 5</h5>
           <p>Autor:.....</p>
            <p>Categoria:.....</p>
            <p>ISBN:.....</p>
            <p>Existencias:.....</p>
            <p>Descripcion:.....</p>
          
            <a href="/project/edit/{{_id}}">
            <i class="material-icons" 
              style = "display: inline-flex; vertical-align: sub;">edit</i>
            <span >Editar</span>
            </a>
            <a href="javascript: deleteProject('{{_id}}')" class="inline">
            <i class="material-icons" 
	            style = "display: inline-flex; vertical-align: sub;">
	            delete</i>
            Borrar
          </a>
            
        </div>
          <div class="column">
            <h5>Libro 6</h5>
           <p>Autor:.....</p>
            <p>Categoria:.....</p>
            <p>ISBN:.....</p>
            <p>Existencias:.....</p>
            <p>Descripcion:.....</p>
           
            <a href="/project/edit/{{_id}}">
            <i class="material-icons" 
              style = "display: inline-flex; vertical-align: sub;">edit</i>
            <span >Editar</span>
            </a>
            <a href="javascript: deleteProject('{{_id}}')" class="inline">
            <i class="material-icons" 
	            style = "display: inline-flex; vertical-align: sub;">
	            delete</i>
            Borrar 
          </a>
        </div>
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.7/handlebars.min.js"></script>
    <script>
        const data = {
            data1: {
                title: 'Columna 1',
                content: 'Contenido de la columna 1'
            },
            data2: {
                title: 'Columna 2',
                content: 'Contenido de la columna 2'
            }
        };

        const templateSource = document.getElementById('template').innerHTML;
        const template = Handlebars.compile(templateSource);
        const html = template(data);

        document.getElementById('output').innerHTML = html;
    </script>
</body>
</html>