<div>
    <input type="text" id="searchInput" placeholder="Buscar proyectos">
    <button onclick="buscarProyecto()">Buscar</button>
  </div>
<div class="row">
  {{#each projects}}
    <div class="col s12">
      <div class="card dark black text lighten-2">
        <div class="card-content dark blue text">
          <span class="card-title">{{Nombre}}</span>
          <p>{{Autor}}</p>
          <p>{{Categoria}}</p>
          <p>{{ISBN}}</p>
          <p>{{Existencias}}</p>
          <p>{{Descripcion}}</p>
        </div>
        <div class="card-action">
          <a href="/project/edit/{{_id}}">
            <i class="material-icons" style="display: inline-flex; vertical-align: sub;">edit</i>
            <span>Editar</span>
          </a>
          <a href="javascript: deleteProject('{{_id}}')" class="inline">
            <i class="material-icons" style="display: inline-flex; vertical-align: sub;">delete</i>
            Borrar
          </a>
        </div>
      </div>
    </div>
  {{else}}
    <p>No hay Libros Para Mostrar</p>
  {{/each}}
</div>
<script>
  // Función para buscar proyectos
  function buscarProyecto() {
    const searchTerm = document.getElementById('searchInput').value;
    // Puedes realizar una solicitud AJAX aquí para buscar datos en el servidor
    // y actualizar la interfaz de usuario según los resultados.
    // Por ejemplo, podrías usar fetch para obtener datos desde el servidor.

    // Ejemplo de solicitud fetch (debes adaptarlo a tu backend)
    fetch(`/MONGO_URL search=${searchTerm}`)
      .then(response => response.json())
      .then(data => {
        // Manipular los datos y actualizar la interfaz de usuario
        console.log(data);
        // Aquí puedes renderizar de nuevo la lista de proyectos con los resultados de la búsqueda
      })
      .catch(error => console.error('Error al buscar proyectos:', error));
  }
</script>
