<div class="row">
  <form id="searchForm">
    <div class="input-field col s12">
      <input id="searchInput" type="text" placeholder="Buscar por Nombre, Autor, Categoria, ISBN, Existencias">
    </div>
  </form>
</div>
<center><h1>Listado de Libros</h1></center>
<div class="row">
  {{#each projects}}
    <div class="col s12">
      <div class="card dark black text lighten-2">
        <div class="card-content dark blue text">
          <span class="card-title">{{Nombre}}</span>
          <p>{{Autor}}</p>
          <p>{{Categoria}}</p>
          <p>{{ISBN}}</p>
          <p>{{Existencias}}</p>
          <p>{{Descripcion}}</p>
        </div>
        <div class="card-action">
          <a href="/project/edit/{{_id}}">
            <i class="material-icons" 
              style = "display: inline-flex; vertical-align: sub;">edit</i>
            <span >Editar</span>
          </a>
           <a href="javascript: deleteProject('{{_id}}')" class="inline">
            <i class="material-icons" 
	            style = "display: inline-flex; vertical-align: sub;">
	            delete</i>
            Borrar
          </a>
        </div>
      </div>
    </div>
  {{else}}
    <p>No hay Libros Para Mostrar</p>
  {{/each}}

  <script>
  // Add JavaScript to handle search functionality
  document.addEventListener('DOMContentLoaded', function() {
    const form = document.getElementById('searchForm');
    const input = document.getElementById('searchInput');

    form.addEventListener('submit', function(event) {
      event.preventDefault();
      const searchTerm = input.value.toLowerCase();

      // Implement your search logic here (filter the projects based on the search term)
      const filteredProjects = yourSearchLogicHere(searchTerm);

      // Render the filtered projects or handle them as needed
    });
  });
</script>
</div>